@model Customer
@{
    ViewBag.Title = "Add New Customer";
}

<form asp-controller="customer" method="post">
    <div class="md-form mb-5">
        <input asp-for="Name" type="text" id="form34" class="form-control validate">
        <span asp-validation-for="Name" class="text-danger"></span>
        <label asp-for="Name" data-error="wrong" data-success="right" for="form34">Customer name</label>
    </div>

    <div class="md-form">
        <input asp-for="Email" type="email" id="form8" class="md-textarea form-control" rows="4">
        <label asp-for="Email" data-error="wrong" data-success="right" for="form8">Email</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>