@model CustomerCreateViewModel
@{
    ViewBag.Title = "Add New Customer";
}

<form enctype="multipart/form-data" asp-controller="customer" method="post">
    <div class="md-form mb-5">
        <input asp-for="Name" type="text" class="form-control validate">
        <span asp-validation-for="Name" class="text-danger"></span>
        <label asp-for="Name">Customer name</label>
    </div>

    <div class="md-form">
        <input asp-for="Email" class="md-textarea form-control" rows="4">
        <label asp-for="Email">Email</label>
    </div>

    <div class="custom-file">
        <input asp-for="Picture" class="form-control custom-file-input">
        <span asp-validation-for="Picture"></span>
        <label asp-for="Picture" class="custom-file-label">Customer Image</label>
    </div>

    <button type="submit" class="btn btn-info">Submit</button>
    <div asp-validation-summary="All" class="text-danger"></div>

    @*@section Scripts{
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }*@
</form>
