* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(167, 164, 159);
  height: 100px;
  position: relative;
}
.overlay {
  position: absolute;
  height: 100%;
}
.overlay h1 {
  padding-top: 20px;
  margin-left: 20px;
}
nav {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  font-size: 20px;
}
nav li {
  list-style: none;
  padding-right: 30px;
}
nav li span {
  padding-left: 5px;
}
nav li a {
  text-decoration: none;
  background-color: rgb(248, 248, 240);
  padding: 8px;
  border-radius: 5px;
}
.order {
  width: 300px;
  height: 300px;
  background-color: rgb(245, 245, 235);
  border: solid 1px rgb(20, 18, 18);
}
.cart a{
  background-color: rgb(248, 225, 20);
}
.container {
  display: flex;
  justify-content: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 50%;
}
.form-container input {
  margin-bottom: 10px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  padding-top: 50px;
  background-color: rgb(248, 245, 240);
}
.active {
  text-align: right;
  padding-right: 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.price {
  color: rgb(44, 56, 41);
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(54, 70, 41);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card button:hover {
  opacity: 0.7;
}
i.fa-shopping-cart {
  font-size: 20px;
  color: rgb(11, 27, 252);
  cursor: pointer;
  user-select: none;
}

.dropdown{
  position: relative;
  transition: transform .4s ease;
}

.dropdown__link{
  position: absolute;
  font-size: 16px;
  color: rgb(29, 46, 22);
  text-decoration: none;
  width: calc(100% + 2px);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(3, 36, 8);
  margin-top: .2rem;
  right: -1px;
  transform: scale(0) rotate(-90deg);
  transform-origin: top right;
  opacity: 0;
  transition: transform .3s ease, opacity 0s ease;
}

.dropdown__link::before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3.2rem;
  left: 0;
  top: -0.2rem;
}

.dropdown:hover .dropdown__link{
  transform: scale(1) rotate(0);
  opacity: 1;
}

/* .dropdown__link--one{
  
} */

.dropdown__link--two{
  bottom: -6.4rem; 
  transition-delay: .1s;
}

.dropdown__link--three{
  bottom: -9.6rem; 
  transition-delay: .2s;
}

/* .dropdown__link--four{
  bottom: -12.8rem; 
  transition-delay: .3s;
} */
i.fa-user {
  color: rgb(10, 156, 214);
}

/*--Order Page---*/


.product-container {
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  max-width: 900px;
  background-color: rgb(248, 245, 240);
  color: rgb(23, 49, 8);
}
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-bottom: 2px solid rgb(23, 49, 8);
}
.grid-products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-bottom: 1px solid rgb(111, 108, 117);
}
.grid > span {
  padding: 8px;
}
.grid-products > span {
  padding: 8px;
  padding-top: 20px;
}
.totalBasket {
  text-align: right;
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 20px;
}
.post-order {
  text-align: right;
  margin-top: 30px;
  padding: 5px;
  background-color: rgb(102, 126, 59);
  color: aliceblue;
  border-radius: 3px;
}
.clear-order {
  text-align: right;
  margin-top: 30px;
  padding: 5px;
  background-color: rgb(236, 44, 44);
  color: aliceblue;
  border-radius: 3px;
}
.jsRemove {
  width: 20px;
  height: 20px;
  background-color: rgb(236, 44, 44);
  border: none;
  font-size: 20px;
}
.product-container > h2 {
  text-align: center;
  padding-bottom: 50px;
}
.product-container > h3 {
  color: rgb(238, 32, 32);
  text-align: center;
  padding-bottom: 50px;
}
i.fa-thumbs-down {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 50px;
  color: rgb(238, 32, 32);
  cursor: pointer;
  user-select: none;
}
i.fa-thumbs-up {
  font-size: 50px;
  color: rgb(20, 187, 43);
  cursor: pointer;
  user-select: none;
  padding-top: 30px;
  padding-left: 20px;
}
.products > h2 {
  color: rgb(43, 56, 20);
  padding-top: 30px;
  text-align: center;
}




/*--Login Page---*/


.log {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 900px;
  height: 86vh;
  background-color: rgb(248, 245, 240);
}
.log > h2 {
  text-align: center;
  color: rgb(26, 70, 71);
  padding-bottom: 50px;
}
.form-container {
  margin: 0 auto;
  max-width: 400px;
  padding-bottom: 50px;
}
#username {
  padding: 7px 0 5px 5px;
  border-radius: 3px;
}
#password {
  padding: 7px 0 5px 5px;
  border-radius: 3px;
}
#logBtn {
  margin-top: 10px;
  padding: 10px;
  background-color: gold;
  border-radius: 5px;
}

.log > h3 {
  color: rgb(238, 32, 32);
  text-align: center;
}

i.fa-hand-paper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 50px;
  color: rgb(238, 32, 32);
  cursor: pointer;
  user-select: none;
}


/*--MY ORDERS---*/

.wrapper {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  color: rgb(18, 53, 18);
  background-color: rgb(248, 245, 240);
}

.order-wrapper {
  /* display: flex;
  flex-direction: column; */
  border-bottom: 1px solid rgb(111, 108, 117);
}

.wrapper > h2 {
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(111, 108, 117);
}

.ord-items {
  padding-top: 15px;
}

.product-item {
  margin: auto;
  width:  200px;
  border: 1px solid rgb(111, 108, 117);
}




/*--EDIT---*/


.container {
  background-color: rgb(248, 245, 240);
}

.form-container {
  margin: 0 auto;
  width: 500px;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

#name {
  padding: 7px 0 5px 5px;
  border-radius: 3px;
}
#address {
  padding: 7px 0 5px 5px;
  border-radius: 3px;
}
#email {
  padding: 7px 0 5px 5px;
  border-radius: 3px;
}
.postForm {
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(40, 190, 250);
  border-radius: 5px;
}

.form-container > h3 {
  padding-top: 30px;
  padding-bottom: 20px;
  color: rgb(18, 53, 18);
}

.del-container {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

.del-container > h3 {
  padding-bottom: 20px;
  color: rgb(18, 53, 18);
}