@model ProductCreateViewModel
@{
    ViewBag.Title = "Add New Product";
}

<form enctype="multipart/form-data" asp-controller="product" method="post">
    <div class="md-form mb-5">
        <input asp-for="ProductName" type="text" class="form-control validate">
        <span asp-validation-for="ProductName" class="text-danger"></span>
        <label asp-for="ProductName">Product name</label>
    </div>

    <div class="md-form">
        <textarea asp-for="Description" type="text" class="md-textarea form-control" rows="4"></textarea>
        <label asp-for="Description">Description</label>
    </div>

    <div class="md-form mb-5">
        <input asp-for="UnitPrice" type="text" class="form-control validate">
        <label asp-for="UnitPrice">Unit Price</label>
    </div>

    <div class="md-form mb-5">
        <input asp-for="IsDiscounted" type="text" class="form-control validate">
        <label asp-for="IsDiscounted">Is Discounted</label>
    </div>

    <div class="md-form mb-5">
        <input asp-for="IsActive" type="text" class="form-control validate">
        <label asp-for="IsActive">Is Active</label>
    </div>

    <div class="custom-file">            
        <input asp-for="PicturePath" class="form-control custom-file-input">
        <span asp-validation-for="PicturePath"></span>
        <label asp-for="PicturePath" class="custom-file-label">Product Image</label>
    </div>

    <button type="submit" class="btn btn-info">Submit</button>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>

@*@section  Scripts{
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
 }*@