@model Product
@{
    ViewBag.Title = "Edit Product";
}

<form asp-controller="product" method="post">
    <div class="md-form mb-5">
        <input asp-for="ProductName" type="text" id="form34" class="form-control validate">
        <span asp-validation-for="ProductName" class="text-danger"></span>
        <label asp-for="ProductName" data-error="wrong" data-success="right" for="form34">Product name</label>
    </div>

    <div class="md-form">
        <textarea asp-for="Description" type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>
        <label asp-for="Description" data-error="wrong" data-success="right" for="form8">Description</label>
    </div>

    <div class="md-form mb-5">
        <input asp-for="UnitPrice" type="text" id="form32" class="form-control validate">
        <label asp-for="UnitPrice" data-error="wrong" data-success="right" for="form32">Unit Price</label>
    </div>

    <div class="md-form mb-5">
        <input asp-for="IsDiscounted" type="text" id="form32" class="form-control validate">
        <label data-error="wrong" data-success="right" for="form32">Is Discounted</label>
    </div>

    <div class="md-form mb-5">
        <input asp-for="IsActive" type="text" id="form32" class="form-control validate">
        <label data-error="wrong" data-success="right" for="form32">Is Active</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>