@model ProductEditViewModel
@{
    ViewBag.Title = "Edit Product";
}

<form enctype="multipart/form-data" asp-controller="product" asp-action="edit" method="post">
    <input hidden asp-for="Picture" />
    <input hidden asp-for="ProductId" />
    <div class="md-form mb-5">
        <input asp-for="Name" type="text" class="form-control validate">
        <span asp-validation-for="Name" class="text-danger"></span>
        <label asp-for="Name">Product name</label>
    </div>

    <div class="md-form mb-5">
        <input asp-for="Price" type="text" class="form-control validate">
        <label asp-for="Price">Unit Price</label>
    </div>

    <div class="md-form">
        <textarea asp-for="ProductDescription" type="text" class="md-textarea form-control" rows="4"></textarea>
        <span asp-validation-for="ProductDescription" class="text-danger"></span>
        <label asp-for="ProductDescription">Description</label>
    </div>

    <div class="md-form mb-5">
        <input asp-for="Discounted" type="text" class="form-control validate">
        <label>Is Discounted</label>
    </div>

    <div class="md-form mb-5">
        <input asp-for="Active" type="text" class="form-control validate">
        <label>Is Active</label>
    </div>

    <div class="custom-file">
        <input asp-for="Picture" class="form-control custom-file-input">
        <span asp-validation-for="Picture"></span>
        <label asp-for="Picture" class="custom-file-label">Change Photo</label>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>