body {
    background-color: whitesmoke;
}
.card {
    margin: auto;
    background-color: lightgray;
    display: flex;
}
.card li {
    background-color: #ffffff;
}

form {
    max-width: 600px;
    margin:auto;
}

.col-md-4 img {
    padding-top: 67px;
    border-radius: 10px;
}

.btn-info {
    margin-top: 20px;
}

