@model Employee
@{
    ViewBag.Title = "Add New Employee";
}

<form asp-controller="employee" method="post">
    <div class="md-form mb-5">
        <input asp-for="Name" type="text" id="form34" class="form-control validate">
        <span asp-validation-for="Name" class="text-danger"></span>
        <label asp-for="Name" data-error="wrong" data-success="right" for="form34">Product name</label>
    </div>

    <div class="md-form">
        <input asp-for="Pol" type="text" id="form8" class="md-textarea form-control" rows="4">
        <label asp-for="Pol" data-error="wrong" data-success="right" for="form8">Gender</label>
    </div>

    <div class="md-form mb-5">
        <select asp-for="Role" type="text" id="form32" class="form-control validate" asp-items="Html.GetEnumSelectList<RoleEnum>()"></select>
        <label asp-for="Role" data-error="wrong" data-success="right" for="form32">Role</label>
    </div>

    <div class="md-form mb-5">
        <input asp-for="Email" type="email" id="form32" class="form-control validate">
        <label asp-for="Email" data-error="wrong" data-success="right" for="form32">Email</label>
    </div>

    <div class="md-form mb-5">
        <input asp-for="DateOfBirth" type="text" id="form32" class="form-control validate">
        <label asp-for="DateOfBirth" data-error="wrong" data-success="right" for="form32">Date of birth</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>