@model IEnumerable<Employee>

<h1>@ViewBag.Title</h1>

<div class="text-center">
    <a asp-controller="employee" asp-action="create" class="btn btn-info btn-rounded mb-4">
        Add New Employee
    </a>
</div>

<div class="container">
    <div class="card-columns">
        @foreach (var employee in Model)
        {

            <div class="card card-user">
                <img class="card-img-top" src="@Url.Content(employee.Picture)" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">@employee.Name</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a asp-controller="employee" asp-action="details" asp-route-id="@employee.Id" class="btn btn-secondary">See Profile</a>
                </div>
            </div>


        }
    </div>
</div>